<p id="notice" class="alert alert-primary" role="alert"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @variete.name %>
</p>

<%= link_to 'Edit', edit_variete_path(@variete) %> |
<%= link_to 'Back', varietes_path %>
