
<%= simple_form_for(@calendrier) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :date, as: :date, html5: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
